.main{
    padding: 0 auto;
    margin: 0 auto;
    padding: 30px;
    padding-right: 330px;
}

.Анораки{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 50px;
}


.Парки{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 100px;
}

.Ветровки{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 50px;
}


.Бомберы{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 100px;
}

.Другое{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 50px;
}

.block{
    display: inline-block;
}