.main{
    padding: 0 auto;
    margin: 0 auto;
    padding: 30px;
    padding-right: 330px;
}

.shoes a{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 100px;
    text-decoration: none;
    Color: black ;
}

.Верхняя a{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 50px;
    text-decoration: none;
    Color: black ;
}


.Верх a{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 100px;
    text-decoration: none;
    Color: black ;
}

.Низ a{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 50px;
    text-decoration: none;
    Color: black ;
}


.Аксессуары a{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 100px;
    text-decoration: none;
    Color: black ;
}


