.main{
    padding: 0 auto;
    margin: 0 auto;
    padding: 30px;
    padding-right: 330px;
}

.men a{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 100px;
    text-decoration: none;
    Color: black ;
}

.women a{
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 50px;
    text-decoration: none;
    Color: black ;

}

